@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

.header {
    display: flex;
    flex-direction: row;
    column-gap: 14px;
    padding-bottom: 14px;
    left: 0;
    width: 100%;
    position: fixed;
    background: white;
    padding-left: 15px;
    padding-top: 12px;
}
.header h1 {
    font-size: 18px;
    color: #AB7E57;
    line-height: 22px;
    margin: 0;
    font-family: 'Jua';
    align-self: center;

}



.header img{
    width: 30px;
    height: 30px;
    display: flex;
}

.header .nav{
    align-items: flex-end;
    justify-content: flex-end;
    flex: auto;
    display: flex;
    margin-right: 32px;
}

