.nav-footer{
    display: flex;
    background-color: #F4DFCA;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.nav-footer ul{
    display: flex;
    flex-direction: row;
    column-gap: 34px;
    padding-left: 0px;
}
.nav-footer ul li{
    list-style-type: none;
}

.nav-footer ul li a{
    cursor: pointer;
}

